body {
  background-color: #ff5c33;
}

#search-bar {
  margin: 0 auto;
  width: 20%;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.active {
  border: 1px solid black;
  border-radius: 100%;
  padding: 0 3px;
  outline: none;
}

li {
  cursor: pointer;
}

#loader-wrapper {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

#loader-text {
  font-size: 4rem;
}

#loader {
  margin-top: 40px;
}

.text {
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: #474747 3px 5px 2px;
  text-align: center;
}

.players-list-wrapper {
  background-color: white;
}

.players-list {
  height: 300px;
  overflow: auto;
}

#body {
  text-align: center;
  flex-grow: 1;
  margin-top: 3rem;
}
